p{
font-size: 30px;
font-family: Times New Roman;
font-style: normal;
color: #FFFFFF;
text-align: left;

}
main{
    background-color: rgb(129, 126, 126);
}
body{
    background-color: rgb(248, 227, 195);
}
footer{
    background-color: rgb(115, 92, 138);
}
header{
    background-color: rgb(165, 162, 162);
}
.parrafo1{
   font-size: 50px;
}
.parrafo2{
    color: gold;
}